@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	/* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
	font-family: SF Pro Display Bold, -apple-system, BlinkMacSystemFont, sans-serif, Inter, Inter Placeholder, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: white;
	scroll-behavior: smooth;
}

/* * {
  border: 1px solid red;
  
}  */

.sidenav {
	width: 400px;
	background: white;
	position: absolute;
	height: 95vh;
	padding: 0 30px;
	left: -100%;
	transition: all 1s;
}

.sidenav.active {
	left: 0;
	z-index: 2;
}

.popup {
	width: 400px;
	background: white;
	position: absolute;
	height: 525px;
	padding: 30px;
	transition: all 0.5s;
	top: 100%;
	left: 75%;
	transform: translate(-50%, -50%);
	z-index: -2;
	border-radius: 20px;
	overflow: hidden;
}

.popup.active {
	z-index: 2;
}
