@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	/* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
	font-family: SF Pro Display Bold, -apple-system, BlinkMacSystemFont, sans-serif, Inter, Inter Placeholder, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: white;
	scroll-behavior: smooth;
}

/* * {
  border: 1px solid red;
  
}  */

.sidenav {
	width: 425px;
	background: white;
	position: absolute;
	height: 91%;
	padding: 0 40px;
	left: -100%;
	transition: all 1s;
	border-right: 1px;
	border-right: 2px solid;
	border-color: rgb(205, 205, 205);
}

.sidenav.active {
	left: 0;
	z-index: 2;
}

.popup {
	width: 400px;
	background: white;
	position: absolute;
	height: 525px;
	padding: 30px;
	transition: all 0.5s;
	top: 50%;
	left: 85%;
	transform: translate(-50%, -50%);
	z-index: -2;
	border-radius: 20px;
	overflow: hidden;
}

.popup.active {
	z-index: 5;
}

.eventList {
}

.event {
	border-width: 2px;
}

.eventtime {
	display: table-cell;
	/* width: 6rem; */
	/* font-size: 50%; */
}

.eventtitle {
	display: table-cell;
	color: #005a43;
}

.eventItem {
	height: 0px;
	overflow: hidden;
	border: #005a43;
	border-width: 2px;
}

.eventItem.active {
	height: fit-content;
}

.no-scrollbar::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}
